/*STEM*/

/*FONTS*/
/*font-family: 'Anton', sans-serif;
font-family: 'Roboto', sans-serif;

/*COLORS*/
/*

/*BODY*/
* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*NAVIGATION*/
.nav-title {
    font-family: 'Anton', sans-serif;
    padding-top: 10px;
}

.nav-details {
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

/*LOGO*/
.img-logo {
    padding-top: 10px;
}

/*STEM*/
.stem-title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

/*WOMEN*/
.women-title {
    padding-top: 10px;
    border-top: 2px solid black;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
}

.profile {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.coming-soon {
    font-family: 'Anton', sans-serif;
    font-size: 35px;
}

.coming-soon-item {
    font-family: 'Seaweed Script', cursive;
    font-size: 40px;
}

/*SOCIAL MEDIA*/
.social-media-title {
    padding-top: 10px;
    border-top: 2px solid black;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    color: white;
}

.social-media-icons {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    text-align: center;
}

.fa {
    color: white;
}

.soc-media {
    background-color: #7b1fa2;
}

/*CONTRIBUTORS*/
.contributors-title {
    padding-top: 10px;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

.contributor-name {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.contributor-photo {
    margin: auto;
    display: block;
}

.contributor-details {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


.professional-media {
    margin: auto;
    display: block;
}

.professional-box {
    padding: 15px;
    background-color: #f5f5f5;
}

#main-body {
    margin-top: 70px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

.jumbotron {
    background-color: #7b1fa2;
    text-align: center;
}
